@import "colors";

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Verdana, Geneva, sans-serif;
}

.main-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.react-logo {
  width: 32em;
  animation: 4s spin infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}